/* You can add global styles to this file, and also import other style files */
@import 'src/assets/css/mdb.min.css';

html, body {
  height: 100%;
}

:root{
  --body-color: #f5f5f5;
  --sidebar-color: #FFF;
  --primary-color: #1707c4;
  --primary-color-light: #F6F5FF;
  --toggle-color: #DDD;
  --text-color: #383838;
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

body{
  height: 100%;
  min-height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-05);
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

app-login {
    height: 100%;
}
  
app-login {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

app-signup {
    height: 100%;
}
  
app-signup {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

app-auth {
    height: 100%;
}
  
app-auth {
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}


